<footer class="footer bg-dark text-white text-center py-3">
  <div class="container">
    <div
      class="footer-row d-flex flex-column flex-md-row justify-content-between"
    >
      <div class="footer-item text-center mb-md-0">
        <img src="assets/logo 1.png" alt="">
        <h6 class="mt-3 text-center">
          &copy; 2024 Hospital Name.<br>All Rights Reserved.
        </h6>
      </div>
      <div class="footer-item about text-center mb-3 mb-md-0">
        <h4>About</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Reprehenderit similique impedit dignissimos, est, quae excepturi
          voluptate ut natus minus maxime velit adipisci obcaecati, culpa sunt
          sapiente sequi? Sit, incidunt possimus!
        </p>
      </div>
      
      <div class="footer-item text-center mb-3 mb-md-0">
        <h4>Contact</h4>
        <p>Solexys Health</p>
        <p>Bukit Ubi, 25200, Kuantan, Pahang</p>
        <p>Phone: +60 09-515 0803, +60 01-234 65678</p>
        <p>
          Email:
          <a
            href="mailto:solexys.health&#64;moh.gov.my"
            class="text-white text-decoration-none"
            >solexys.health&#64;moh.gov.my</a
          >
        </p>
      </div>
      <div class="footer-item text-center mb-3 mb-md-0">
        <h4>Location</h4>
        <p>Find us on the map for directions</p>
      </div>
    </div>
  </div>

</footer>
