
.navbar {
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.navbar-nav {
    display: flex;
    flex-direction: row; 
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
        font-family: sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

.navbar-nav .nav-link {
    color: #007bff;
    font-weight: 500;
    transition: color 0.3s;
    text-decoration: none;
}

.navbar-nav .nav-link.login-link {
    background-color: #007bff; 
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.navbar-nav .nav-link.login-link:hover {
    background-color: #0056b3; 
    color: white;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
    text-decoration: none;
}

.navbar-nav .nav-item.active .nav-link {
    color: #0056b3;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem;
    }

    .navbar-nav .nav-item {
        margin-left: 10px;
    }
}
