.hospital-info {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: space-between;
    align-items: center;
    background-color: #003d73;
    color: #ffffff;
    margin-bottom: 20px;
}
.content-over{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.contact-details,
.hospital-image {
    text-align: left;
    flex-basis: 50%; /* Each takes up 50% */
}

.contact-details h1 {
    font-size: 2em;
    margin: 0 0 10px;
    color: #ffffff;
    
}

.contact-details .status, .contact-details .contact {
    font-size: 1.2em;
    margin: 5px 0;
}

.appointment-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.appointment-button:hover {
    background-color: #0056b3;
}

.hospital-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    background-color: #ebe6e1;
}

.about, .service { 
    color: #003d73;
}

.background {
    background-color: cornsilk;
}

.about-section {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}
.about-section h1 {
    color: #0056b3;
    font-size: 24px;
    margin-bottom: 10px;
}
.about-section p {
    color: #6c757d;
    line-height: 1.6;
}
.read-more {
    color: #0056b3;
    font-weight: bold;
    cursor: pointer;
}


.services-section {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.services-section h1 {
    color: #0056b3;
    font-size: 24px;
    margin-bottom: 20px;
}
.service-list,
.service-details {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
.service-list {
    padding-right: 20px;
    border-right: 1px solid #e0e0e0;
}
.service-list .service-item {
    color: #495057;
    font-size: 16px;
    /* margin-bottom: 15px; */

    align-items: center;
}
/* .service-list .service-item img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
} */
.service-details .detail-item {
    margin-bottom: 20px;
    padding-left: 40px;
}
.service-details h2 {
    color: #0056b3;
    font-size: 18px;
    margin-bottom: 10px;
}
.service-details p {
    color: #6c757d;
    line-height: 1.6;
    margin-bottom: 10px;
}
.service-details .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #009dbe;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.service-details .button:hover {
    background-color: #007d9b;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hospital-info {
        flex-direction: column; /* Stack vertically on smaller screens */
        text-align: center;
    }

    .contact-details,
    .hospital-image {
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 15px;
    }

    .appointment-button {
        width: 100%;
        text-align: center;
    }

}
